<div class="container mt-5">
  <div class="row">
    <h1 class="mx-auto mb-5">ジャンル一覧・追加</h1>
  </div>
  <div class="row">
    <div class="col-12 my-4 mx-auto">
      <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
        <div class="mb-3">
          <%= f.text_field :genre_name, autofocus: true, placeholder: "ジャンル名を入力", size: "30x20" %>
          <%= f.submit "ジャンル追加", class: "btn btn-info px-3 pl-4 pr-4 ml-5" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ジャンル名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr class="border">
              <td class="align-middle"><%= genre.genre_name %></td>
              <td class="text-center"><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
              <td class="text-center"><%= link_to "削除する", admin_genre_path(genre), method: :delete, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>