<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class=" text-center mb-5 font3">レビュー投稿</h2>
      <%= render 'layouts/errors', obj: @review %>
      <%= form_with model: @review, local: true do |f| %>
      <!--ゲームタイトル-->
        <div class="d-flex flex-wrap row mb-5">
          <div class="col-md-3">
            <%= f.label :title, "ゲームタイトル", class: "col-form-label font3" %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :title, placeholder: "ゲームタイトル", class: "form-control" %>
          </div>
        </div>
      <!--ジャンル選択-->
        <div class="d-flex flex-wrap row mb-5">
          <div class="col-md-3">
            <%= f.label :genre, "ジャンル", class: "col-form-label font3" %>
          </div>
          <div class="col-md-8">
            <%= f.collection_select :genre_id, @genres, :id, :genre_name, include_blank: "ジャンルを選択して下さい", class: "form-control" %>
          </div>
        </div>
      <!--画像選択-->
        <div class="d-flex flex-wrap row mb-5">
          <div class="col-md-3">
            <%= f.label :image, "画像", class: "col-form-label font3" %>
          </div>
          <div class="col-md-8">
            <%= f.attachment_field :image, class: "file" %>
          </div>
        </div>
      <!--良かったところ入力-->
        <div class="d-flex flex-wrap row align-items-center mb-5">
          <div class="col-md-3">
            <%= f.label :good_point, "良かったところ", class: "col-form-label font3" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :good_point, placeholder: "３０文字以上", rows: 4, class: "form-control"%>
          </div>
        </div>
      <!--残念だったところ入力-->
        <div class="d-flex flex-wrap row align-items-center mb-5">
          <div class="col-md-3">
            <%= f.label :bad_point, "残念だったところ", class: "col-form-label font3" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :bad_point, placeholder: "３０文字以上", rows: 4, class: "form-control"%>
          </div>
        </div>
      <!--タグ入力-->
        <div class="mb-5">
          <%= f.label :tag_list, "タグ（半角の,で区切ることで複数個登録できます。）", class: "font3" %>
          <%= f.text_field :tag_list, value: @review.tag_list.join(','), class: "form-control" %>
        </div>
      <!--総合評価-->
      <div class="text-center mb-5">
        <div>
          <h2>
            <%= f.label :evaluation, "総合評価", class: "col-form-label font3" %>
          </h2>
        </div>
        <div id="evaluate_stars"></div>
      </div>
      <div class="col-md-12">
        <div class="text-center">
          <%= f.submit "投稿する", data: { confirm: '画像を使用する場合、著作権等に違反しない画像を使用していますか？'}, class: "btn btn-gradient-radius btn-lg" %>
          <% end %>
        </div>
      </div>
      <script>
        $('#evaluate_stars').empty();
        $('#evaluate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[evaluation]' //登録するモデル名とカラム名を記述
        });
      </script>
    </div>
  </div>
</div>