<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class=" text-center">レビュー投稿</h2>
      <%= form_with model: @review, local: true do |f| %>
        <div>
          <%= f.label :title, "ゲームタイトル", class: "col-form-label offset-sm-3" %>
          <%= f.text_field :title, placeholder: "ゲームタイトル" %>
        </div>
        <div>
          <%= f.label :genre, "ジャンル", class: "col-form-label offset-sm-3" %>
          <%= f.collection_select :genre_id, @genres, :id, :genre_name, include_blank: "選択して下さい", class: "form-control" %>
        </div>
        <div>
          <%= f.label :image, "画像", class: "col-form-label offset-sm-3" %>
          <%= f.attachment_field :image, class: "file" %>
        </div>
        <div>
          <%= f.label :good_point, "良かったところ", class: "col-form-label offset-sm-3" %>
          <%= f.text_area :good_point, placeholder: "３０文字以上"%>
        </div>
        <div>
          <%= f.label :bad_point, "残念だったところ", class: "col-form-label offset-sm-3" %>
          <%= f.text_area :bad_point, placeholder: "３０文字以上"%>
        </div>
        <div id="evaluate_stars">
    <label>評価</label>
  </div>
        <div>
          <%= f.submit "投稿する" %>
        </div>
      <% end %>
      <script>
        $('#evaluate_stars').empty();
        $('#evaluate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[evaluation]' //登録するモデル名とカラム名を記述
        });
      </script>
    </div>
  </div>
</div>